@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@font-face {
	font-family: "Lucida Console";
	src: url('../fonts/6622.ttf');
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 11pt;
	/* font-family: "Lucida Console","Courier New"; */
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	width: 100vw;
	min-height: 100vh;
	&:before {
		content: '';
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		background: linear-gradient(to top, rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
		url(../images/bg.jpg);
		width: 100vw;
		height: 100vh; 
		background-size: auto,cover;
		background-repeat: repeat, no-repeat; 
		background-position: 0 0, bottom;
		z-index: 0;
	}
	.wrapper {
		box-sizing: border-box;
		z-index: 1;
		display: flex;
		min-height: 100vh;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		max-width: 100%;
		.content {
			box-sizing: border-box;
			z-index: 2;
			max-width: 100%;
			.inner {
				box-sizing: border-box;
				z-index: 3;
				display: inline-flex;
				width: 60rem;
				max-width: 100%;
				flex-wrap: wrap;
				align-items: flex-start;
				.col-1, .col-2 {
					z-index: 4;
					padding-left: 3rem;
					max-width: 100%;
					padding: 3.5rem 0; 		
				}
				.col-1 {
					width: calc(40%-6rem);
					text-align: right;
					margin-left: -3rem;
					padding-right: 3rem;
					.img-cont {
						max-width: 100%;
						img {
							width: 8rem;
							border-radius: 50%;
						}
					}
				}
				.col-div {
					content: '';
					width: 10px;
					height: 100%;
					background: #000 repeat;	
				}
				.col-2 {
					width: calc(60%-6rem);
					}	
			}
		}
	}	
}