@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:100,200,300,400,500,600,700,800,900');
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: 'Encode Sans Expanded', sans-serif;
}
html,
body {
  min-height: 100%;
  background: url('../images/defbg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.wrapper .header {
  border-bottom: 2px solid #fff;
  padding: 1em 0;
}
.wrapper .header div {
  width: 15%;
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 0.25em;
  background: #fff;
  color: #205;
  transition: background 1s, color 1s;
}
.wrapper .header div:active,
.wrapper .header div:hover,
.wrapper .header divvisited {
  background: #205;
  color: #fff;
  cursor: pointer;
}
.wrapper .header div:active a,
.wrapper .header div:hover a,
.wrapper .header divvisited a {
  color: #fff;
}
.wrapper .header div h2,
.wrapper .header div a {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: color 1s;
}
.wrapper .header,
.wrapper .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: linear-gradient(to top, #205, #309);
  color: #fff;
}
.wrapper .img-div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 4em;
  color: #fff;
}
.wrapper .img-div .h1 {
  border-bottom: 1px solid #fff;
  margin: 2em 0;
}
.wrapper .img-div .img-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.wrapper .img-div .img-container img {
  box-sizing: border-box;
  border: 4px solid rgba(0, 0, 0, 0.5);
  height: 18em;
}
.wrapper .img-div .img-container p {
  box-sizing: border-box;
  display: block;
  color: #000;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.5);
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 0 0 50% 50%;
}
.wrapper .img-div .img-container p:active,
.wrapper .img-div .img-container p:hover {
  background: #205;
  color: #fff;
  cursor: pointer;
  border: 4px solid #fff;
}
.wrapper .img-div .inner {
  display: flex;
  justify-content: space-between;
}
.wrapper .img-div .inner .text-in {
  width: 65%;
}
.wrapper .img-div .inner .text-in p {
  text-align: justify;
}
.wrapper .img-div .inner .img-in {
  text-align: right;
  width: 30%;
  height: 18em;
}
.wrapper .img-div .inner .img-in img {
  box-sizing: border-box;
  height: 100%;
  border: 3px solid #fff;
}
.wrapper .img-div h1 {
  font-size: 3em;
  padding-bottom: 0.2em;
}
.wrapper .img-div p {
  font-size: 1.5em;
}
.wrapper #img-div-1 {
  /* background: #fff url('../images/bg01.png'); */
  background: #205;
}
.wrapper #img-div-2 {
  /* background: #fff url('../images/bg02.png'); */
  background: #05B;
}
.wrapper #img-div-3 {
  /* background: #fff url('../images/bg03.png'); */
  background: #205;
}
.wrapper #img-div-3 .inner {
  flex-direction: row-reverse;
}
.wrapper #img-div-3 .inner .img-in {
  text-align: left;
}
.wrapper #img-div-4 {
  /* background: #fff url('../images/bg04.png'); */
  background: #05B;
}
.wrapper #img-div-4 .h1,
.wrapper #img-div-4 p {
  text-align: center;
}
.wrapper #min-color-div {
  border-top: none;
  height: 3em;
}
.wrapper .color-div {
  width: 100%;
  height: 10em;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
}
.wrapper .footer {
  padding: 2em 0;
  border-top: 2px solid #fff;
}
.wrapper .footer ul {
  padding: 1em 2em;
  border: 2px solid #fff;
  border-radius: 0.5em;
  display: block;
  text-align: center;
}
.wrapper .footer ul:active,
.wrapper .footer ul:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.wrapper .footer ul li {
  display: inline-block;
  margin: 0 0.5em;
}
.wrapper .footer ul li svg {
  fill: #fff;
  height: 4em;
  width: 4em;
}
.wrapper .footer ul li svg:active,
.wrapper .footer ul li svg:hover {
  fill: rgba(0, 0, 0, 0.5);
}
.wrapper .footer ul li span {
  display: none;
}
@media (max-width: 1680px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 12px;
  }
  .wrapper .header div {
    width: 20%;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 10px;
  }
  .wrapper .header {
    flex-wrap: wrap;
  }
  .wrapper .header div {
    width: 20%;
  }
}
@media (max-width: 650px) {
  .wrapper .img-div .img-container,
  .wrapper #img-div-3 .img-container {
    flex-direction: column;
  }
  .wrapper .img-div .img-container div,
  .wrapper #img-div-3 .img-container div {
    text-align: center;
  }
  .wrapper .img-div .img-container div img,
  .wrapper #img-div-3 .img-container div img {
    height: 25rem;
  }
  .wrapper .img-div .img-container div p,
  .wrapper #img-div-3 .img-container div p {
    margin: auto;
    width: 25rem;
  }
  .wrapper .img-div .inner,
  .wrapper #img-div-3 .inner {
    flex-direction: column;
  }
  .wrapper .img-div .inner .text-in,
  .wrapper #img-div-3 .inner .text-in,
  .wrapper .img-div .inner .img-in,
  .wrapper #img-div-3 .inner .img-in {
    width: 100%;
    margin-bottom: 2em;
  }
  .wrapper .img-div .inner .img-in,
  .wrapper #img-div-3 .inner .img-in {
    text-align: center;
    height: 25em;
  }
  .wrapper .img-div .inner .img-in img,
  .wrapper #img-div-3 .inner .img-in img {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .wrapper .header {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .wrapper .header div {
    width: 80%;
    margin-bottom: 0.5em;
  }
  .wrapper .img-div .inner .img-in,
  .wrapper #img-div-3 .inner .img-in {
    height: 30em;
  }
  .wrapper .img-div .inner .img-in img,
  .wrapper #img-div-3 .inner .img-in img {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .wrapper .img-div .h1 h1,
  .wrapper #img-div-3 .h1 h1 {
    text-align: center;
  }
  .wrapper .img-div .inner .img-in,
  .wrapper #img-div-3 .inner .img-in {
    height: 25em;
  }
  .wrapper .img-div .inner .img-in img,
  .wrapper #img-div-3 .inner .img-in img {
    height: 100%;
    width: auto;
  }
}
