@mixin block-child-margin($margin: 1rem, $firstmargin: 0, $lastmargin:0) {
  & > * {
    margin: $margin 0;
    &:first-child {
      margin-top: $firstmargin;
    }
    &:last-child {
      margin-bottom: $lastmargin;
    }
  }
}

@mixin box-shadow($shiftX:0, $shiftY:0, $blurRadius:10px, $stretching: 0,$color: rgba(0,0,0,0.5)) {
  box-shadow:         $shiftX $shiftY $blurRadius $stretching $color;
  -moz-box-shadow:    $shiftX $shiftY $blurRadius $stretching $color;
  -webkit-box-shadow: $shiftX $shiftY $blurRadius $stretching $color;
}
