@import 'mixins.scss';
.wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  &__content {
    width: 100%;
    //padding: 1.5rem 0.5rem;
    max-height: 100%;
    //background-color:rgba(255,255,255,0.85);
  }
  &__inner {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    padding: 1rem;
    @include block-child-margin(1.5rem);
    &_transparent {
      background-color: transparent;
    }
    &_no-padding {
      padding: 0;
    }
  }
}

@import './content/maincontent.scss';
@import './content/aboutus.scss';
@import './content/contacts.scss';
