@import 'mixins.scss';
.wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  &__content {
    width: 100%;
    padding: 1.5rem 0.5rem;
    max-height: 100%;
    //background-color:rgba(255,255,255,0.85);
  }
  &__inner {
    width: 100%;
    max-width: 100%;
    @include block-child-margin(1.5rem);
  }
}

.info-div {
  display: flex;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.35);
  &__inner {
    margin-left: 1rem;
    @include block-child-margin(0.5rem);
    &:first-child {
      margin-left: 0;
    }
  }
  &__img {
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 1px 1px 20px rgba(0,0,0,0.35);
    width: 10rem;
    height: auto;
    &:hover {
      box-shadow: none;
      border: 2px solid rgba(0,0,0,0.25);
    }
  }
}


