@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&subset=latin-ext');
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
  font-family: 'Oxygen', sans-serif;
}
body:before {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  content: '';
  background: #fff url('../images/bg.jpg') center repeat;
  display: block;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  min-height: 100vh;
  z-index: 1;
}
body .wrapper .content {
  display: flex;
  justify-content: flex-start;
  background: rgba(15, 15, 15, 0.95);
  color: #fff;
  z-index: 2;
  max-width: 100%;
}
body .wrapper .content .inner {
  padding: 3.5rem;
  width: 50rem;
  max-width: 100%;
  z-index: 3;
}
body .wrapper .content .inner h1,
body .wrapper .content .inner p,
body .wrapper .content .inner ul {
  margin: 1.5rem 0;
}
body .wrapper .content .inner h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
body .wrapper .content .inner p {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.4em;
  line-height: 1.8rem;
  font-weight: 300;
}
body .wrapper .content .inner ul li {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 0.5rem;
  border: 1px solid #fff;
}
body .wrapper .content .inner ul li:first-child {
  margin-left: 0;
}
body .wrapper .content .inner ul li a {
  font-size: 0.8em;
  display: block;
  text-decoration: none;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: 300;
}
@media (max-width: 1680px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 12px;
  }
  html body:before {
    position: relative;
    width: 100%;
    height: 75vh;
  }
  html body {
    height: 100vh;
  }
  html body .wrapper {
    padding: 0;
    margin: 0;
    height: auto;
    min-height: 0;
  }
  html body .wrapper .content {
    height: auto;
    justify-content: center;
  }
  html body .wrapper .content .inner {
    text-align: center;
  }
}
