.form {
  margin: auto;
  width: 50%;
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  background-color: #1CC;
  color: #fff;
}
.form > * {
  margin: 1rem 0;
}
.form > *:first-child {
  margin-top: 0;
}
.form > *:last-child {
  margin-bottom: 0;
}
.form__row {
  max-width: 100%;
  display: flex;
  padding: 0.5rem;
}
.form__row > *:first-child {
  flex-grow: 1;
  width: 45%;
}
.form__row > *:last-child {
  flex-grow: 2;
  width: 55%;
}
.form__row input {
  outline: none;
}
.form__button {
  background-color: #077 !important;
  color: #fff !important;
  border: 1px solid #001111 !important;
  text-decoration: none;
}
.form__button:hover {
  background-color: #00aaaa !important;
  color: #e6e6e6 !important;
  border: 1px solid #000000 !important;
}
@media (max-width: 980px) {
  .form {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .form {
    width: 90%;
  }
}
@media (max-width: 360px) {
  .form {
    width: 100%;
  }
}
