.hor-menu {
  list-style: none;
}
.hor-menu__item {
  display: inline-block;
  margin: 0.25rem;
}
.hor-menu__link {
  display: block;
  height: 2rem;
  padding: 0 0.8rem;
  font-size: 0.8em;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}
.hor-menu__link:hover {
  background-color: rgba(221, 178, 221, 0.3);
  color: #625;
  border-bottom: 2px solid #fff;
}
.form {
  width: calc(65% - 3rem);
  margin: auto;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
  background-color: #BB4;
}
.form > *:first-child {
  margin-top: 0;
}
.form > *:last-child {
  margin-bottom: 0;
}
.form__row {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.form__row > *:last-child {
  margin-right: 0;
}
.form__row__item {
  flex-grow: 1;
  height: 2rem;
  margin-right: 0.5rem;
}
.form__row__item_big {
  width: 60%;
}
.form__row__item_small {
  width: 30%;
}
.form__row__item_textarea {
  height: auto;
  padding: 0.5rem;
}
.form__row__text {
  padding: 0 1rem;
}
.figure-button {
  margin: 0 1rem;
  width: 18rem;
  height: 2rem;
  transform: skew(20deg);
  background: #625;
  transition: background-color 0.5s, color 0.5s;
}
.figure-button:hover {
  background: #c146a3;
  border-left: 18px solid rgba(255, 255, 255, 0.5);
  border-right: 18px solid rgba(255, 255, 255, 0.125);
}
.figure-button:hover a {
  color: rgba(255, 255, 255, 0.75);
}
.figure-button_blue {
  background-color: #178;
}
.figure-button_blue:hover {
  background: #33cce6;
}
.figure-button > div {
  transform: skew(-20deg);
  text-align: center;
}
.figure-button__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  line-height: 2rem;
}
.button {
  padding: 0.5rem;
  background-color: #178;
  color: #fff;
  border: none;
  outline: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.button:hover {
  background: #179fb5;
  color: #000;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-1h4jvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-sh0jvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg75GHg.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local('Oswald Medium'), local('Oswald-Medium'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-6hwjvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-xhsjvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-ohojvQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
}
body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(50%, #DBD));
  background: -moz-linear-gradient(top, #fff, #DBD 50%);
  background: -o-linear-gradient(top, #fff, #DBD 50%);
  background: linear-gradient(top, #fff, #DBD 50%);
}
.wrapper {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.header {
  max-width: 100%;
  padding: 0.5rem 2.5rem;
  background-color: #625;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  background-color: #DBD;
  padding: 0.5rem 1rem;
  text-align: center;
}
#info {
  width: 100%;
}
.error {
  background-color: #F99;
  color: #800;
  padding: 0.5rem 1rem;
  text-align: center;
}
.succes {
  background-color: #9F9;
  color: #050;
  padding: 0.5rem 1rem;
  text-align: center;
}
.main {
  max-width: 100%;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 0 5px 2px rgba(221, 178, 221, 0.5);
  -moz-box-shadow: 0 0 5px 2px rgba(221, 178, 221, 0.5);
  box-shadow: 0 0 5px 2px rgba(221, 178, 221, 0.5);
}
.main > h3 {
  text-align: center;
}
.logo {
  width: 20%;
}
.logo canvas {
  height: 3.5rem;
}
.profile {
  padding: 0.5em;
  width: 100%;
}
.profile__row {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
}
.profile__row_rigth {
  justify-content: flex-end;
}
.profile__img {
  border: 2px solid rgba(102, 34, 85, 0.125);
  width: 7rem;
  padding: 0.25rem;
}
.profile__col {
  padding: 0.5em;
}
.profile__first-col {
  border-right: 7px solid rgba(102, 34, 85, 0.125);
}
.profile__second-col {
  background: rgba(255, 255, 255, 0.5);
}
.profile__text {
  font-size: 0.8em;
}
.members-list {
  margin: 0.5rem 0;
  list-style: none;
  text-align: center;
}
.members-list__item {
  margin: auto;
  width: 30rem;
  max-width: 100%;
  height: 2rem;
  background-color: #DBD;
  border-bottom: 3px solid #625;
}
.members-list__link {
  line-height: 2rem;
  display: inline-block;
}
