.hor-menu {
  list-style: none;
  max-width: 100%;
  flex-wrap: wrap;
}
.hor-menu__item {
  display: inline-block;
  margin: 0.25rem;
}
.hor-menu__link {
  display: block;
  height: 2rem;
  padding: 0 0.8rem;
  font-size: 0.8em;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}
.hor-menu__link:hover {
  background-color: rgba(221, 178, 221, 0.3);
  color: #625;
  border-bottom: 2px solid #fff;
}
@media (max-width: 980px) {
  .hor-menu {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 680px) {
  .hor-menu__item {
    width: 100%;
  }
}
