html {
 min-height: 100%;
}
body {
 min-height: 100%;
 /* background-color: #026ea0; */
}  

b, h1, h2, h3, h4, h5 {
	font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
}

/* ДЛЯ ПЕРЕКЛЮЧАТЕЛЯ НАЧ*/

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* ДЛЯ ПЕРЕКЛЮЧАТЕЛЯ КОН*/

.well-blue {
	background: linear-gradient(to top, #026ea0, #01405d);
}

.well-blue  h1, .well-blue h2, .well-blue h3, .well-blue h4{
	color: #fff;
	text-shadow: 1px 1px 3px black, 0 0 1em #000;
}

.well-blue p{
	color: #fff;
	font-weight: 700;
}

.carousel-img {
	width: 100%;
}

.main-p{
	margin-bottom: 30px;
}

.main-pp{
	margin: 30px 0;
}     

.toprow {
	margin-bottom: 0;
}

.jumbotron {
	margin-top: 300px;
	background: linear-gradient(to top, #01405d, #026ea0 );
	color: #fff;
	margin-bottom: 0;
	padding: 10px 0;
	font-family: 'Merriweather', serif;
}

.navbar{
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
}

.mainheader {
	line-height: 1.25;
	padding: 0;
}

section {
	margin-bottom: 20px;
}

.aside-header {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.5;
}

.navbar-color {
	background: linear-gradient(to bottom, #01405d, #026ea0 );
}

.navbar-color2 {
	background: linear-gradient(to top, #404040, #808080 );
	margin-bottom: 0;
}

#navbar1 a {
	color: #fff;
	font-weight: 600;
}

#navbar1 a:hover {
	color: #12D4F3;
}

#navbar1 .dropdown-menu a {
	color: #000;
	font-weight: 500;
}

footer {
	padding: 10px 0 10px 0;
}

.footerheader {
	padding-bottom: 10px;
	display: block-inline;
	border-bottom: 1px solid;
	color: #000;
}

.footer-list {
	margin-bottom: 0;
}

.footer-list a,h5 {
	text-transform: none;
	color: #000;
	text-decoration: none;
}

.footer-list a:hover {
	color: #026ea0;
}

.darkwell {
	// background-color: #000;
}

.dark-info {
	/* background-color: #808080;
	border-color: #000; */
}

.dark-info:hover {
	/* background-color: #666666;
	border-color: #fff; */
}

/*ДЛЯ АККОРДЕОНА*/

.panel-heading-colored {
	background: linear-gradient(to bottom, #01405d, #026ea0 );
}

.panel-title-colored a {
	font-family: 'Merriweather', serif;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

.panel-title-colored a:hover {
	color: #12D4F3;
}

.well-white {
	background-color: #fff;
}

.well-white h3{
	margin-bottom: 20px;
}

/* ДЛЯ ТАБОВ */

.tab-content {
	padding: 20px;
	border: 1px solid #ddd;
	/* border-top: none; */
	border-radius: 0 0 3px 3px;
}

/* .tab-content b, .tab-content h3,.tab-content h4, .tab-contenth5 {
	font-family: 'Merriweather', serif;
}

.tab-content h3, .tab-content h4, .tab-content h5 {
	font-weight: 700;
} */

.tab-li a{
	color: #fff;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	background: linear-gradient(to bottom, #01405d, #026ea0 );
}

.tab-li a:hover{
	color: #12D4F3;
}

/* ДЛЯ КОНТАКТОВ */

.noborder {
	border: none;
	background-image: none;
	background-repeat: no-repeat;
	box-shadow: none;
}

.noborder a{
	text-decoration: none;
}

.noborder a:hover{
	color: #12D4F3;
}

.indent {
	margin-right: 3em;
}
