@import "bootstrap/bootstrap.less";
@import "Subvars3.less"; 

html,
body {
  height: 100%;
  padding-top: 25px;
}

.navbar-default{
	background-color: @header-bg;
	border-radius: 0;
	color: @header-color;
	margin-bottom: 0px;
  
  .navbar-brand {
  padding: 0px;
  
  }
  .navbar-brand > img {
  height: 100%;
  padding: 15px;
  width: auto;
  }
  
  .btn-default {
    background: lighten(@header-bg, 20%);
    color: @header-color;
    font-weight: bold;
    border-color: darken(@header-color, 20%);

    &:hover{
      background: lighten(@header-bg, 10%);
      color: darken(@header-color, 40%);
      border-color: darken(@header-color, 40%);
    }
  }

	.img-noresize {
		min-width: 135px;
	}

  .btn-div{
     
  }
  
  .btn-nav {
    
  }
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 50px;
	background-color: darken(@header-bg, 35%);

  .thumbnail {
    margin-top: 20px;
    background-color: lighten(@header-bg, 10%);
    border-color: lighten(@header-bg, 40%);
    &:hover {
      background-color: lighten(@header-bg, 20%);
      border-color: darken(@header-bg, 40%);
      color: darken(@header-color, 40%); 
      & a {
        text-decoration: none;
        color: darken(@header-bg, 40%); 
      }
    }
    a{
      text-transform: uppercase;
      font-weight: bold;
      color: @header-color;
    }

  }

  .carousel-inner { 
    height: 400px;
    &> .item {
      overflow: hidden;
      & > img {
        height: 400px;
        margin: auto;
      }
    }
  }
  @media screen and (max-width: 750px){
            
    .min-left {
      text-align: left;
    }
   } 

  .well {
  	border-radius: 0;
			
		.img-circle	{
			border: 3px solid darken(@header-bg, 30%);
			margin-bottom: 20px;
		}

  	.main-row {
  		background: lighten(@header-bg, 35%);
  		margin: 10px 0;
  		&:first-of-type {
				margin: 0;
  		}
  	}
  }

  .news-well{
    .img-news {
      float:left;
      margin: 0 10px 10px 0;
    }
  }

	.notype{
		list-style-type: none; 
	}

  .btn-default {
  	background: @header-bg;
  	color: darken(@header-bg, 30%);
  	margin-bottom: 10px;
  	font-weight: bold;

  	&:hover{
  		background: darken(@header-bg, 10%);
  		color: @header-color;
  	}
  	
  }
  .container{
			margin-bottom: 20px;
			padding-bottom: 10px;
	}
  .mainheader {
  	background-color: lighten(@header-bg, 20%);
		color: darken(@header-bg, 20%);
		
  	h1 {
			font-weight: bold;
		}
  }
}

#footer {
  height: 50px;
  background-color: @footer-bg;
  color: @footer-color;

  p{
  	display: block;
  	margin-top: 15px;
  }
}