@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&subset=cyrillic,latin-ext');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16pt;
  font-family: 'Oswald', sans-serif;
}
body {
  min-width: 360px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #fff, #078);
  background-size: cover;
  background-repeat: no-repeat;
}
body .wrapper {
  box-sizing: border-box;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
body .wrapper .content {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
body .wrapper .content .header {
  box-sizing: border-box;
  text-align: center;
  background: #4479a1;
  padding: 2em 0;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #fff;
}
body .wrapper .content .inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1em 2em;
  box-sizing: border-box;
  /* width: 65em; */
  width: 100%;
  max-width: 100%;
  min-height: 20em;
}
body .wrapper .content .inner * {
  margin: 0.5rem 0;
}
body .wrapper .content .inner form {
  background: rgba(0, 119, 136, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(119, 119, 119, 0.3);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  padding: 2em 1em;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  max-width: 100%;
}
body .wrapper .content .inner form input {
  width: 50%;
  padding: 0.5em 1em;
  text-align: center;
}
body .wrapper .content .inner form .row {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrapper .content .inner form .row .col-1 {
  width: 30%;
}
body .wrapper .content .inner form .row .col-2 {
  width: 60%;
}
body .wrapper .content .inner form .row .col-2 input {
  text-align: left;
  width: 100%;
}
body .wrapper .content .inner form .row input[type="submit"] {
  width: 60%;
  background: #4479a1;
  color: #ff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}
body .wrapper .content .inner table,
body .wrapper .content .inner td,
body .wrapper .content .inner th {
  border: 1px solid #000;
}
body .wrapper .content .inner table {
  border-collapse: collapse;
  width: 80%;
}
body .wrapper .content .inner th {
  height: 2rem;
}
body .wrapper .content .inner td {
  height: 1.5rem;
  padding: 0 0.5rem;
}
.msg {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.msg-error {
  border: 1px inset #A00;
  background: #FBB;
  color: #A00;
}
.msg-succes {
  border: 1px inset #050;
  background: #9F8;
  color: #050;
}
.msg-info {
  border: 1px inset #05F;
  background: #AEF;
  color: #05F;
}
.persent-fifty {
  width: 50%;
}
.persent-sixty {
  width: 60%;
}
.persent-eighty {
  width: 80%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-uppecase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-lowspacing {
  letter-spacing: 0.2rem;
}
.text-midspacing {
  letter-spacing: 0.5rem;
}
.text-highspacing {
  letter-spacing: 1rem;
}
@media (max-width: 1280px) {
  html {
    font-size: 14pt;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 14pt;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 12pt;
  }
  body .wrapper .content .inner form {
    width: 90%;
  }
}
@media (max-width: 640px) {
  body .wrapper .content .inner form {
    width: 100%;
  }
  body .wrapper .content .inner form input {
    width: 80%;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 10pt;
  }
  body .wrapper {
    padding: 1.5rem 0.5rem;
  }
}
