.inner-margin( @margin: 1rem, @child-margin: 0) {
  & > * {
    margin: @margin 0;
    &:first-child {
      margin-top: @child-margin;
    }
    &:last-child {
      margin-bottom: @child-margin;
    }
  }
}
