@import 'form.less';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14pt;
  font-family: verdana, sans-serif;
}
#logo {
  font-family:Georgia;
  font-weight:bold;
  font-style:italic;
  font-size :97px;
}
