.menu {
  list-style: none;
  position: absolute;
  top: 50px;
  right: 50px;
}
.menu__item {
  float: left;
  margin-left: 1.5rem;
}
.menu__link {
  text-decoration: none;
  color: #fff;
}
.menu__link__js-atimatet-text {
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
}
