@import 'logo.less';
@import 'menu.less';
@import 'video.less';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: auto;
  font-size: 16pt;
}
.wrapper {
  width: 100%;
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.row {
  width: 100%;
  height: 100vh;
}
