.nav-menu {
  list-style: none;
  position: absolute;
  top: 50px;
  right: 50px;
  &__item {
    float: left;
    margin-left: 1.5rem;
  }
  &__link {
    text-decoration: none;
    color: #fff;
    &__js-atimatet-text {
      font-size: 0.75em;
      text-transform: uppercase;
      display: inline-block;
    }
  }
}
.vertical-menu {
  list-style: none;
  &_big {
    font-size: 2rem;
  }
  &__item {
    margin: 1.5rem 0;
  }
  &__link {
    color: #000;
    text-decoration: none;
  }
}
