@import 'mixins.less';

@font-face {
  font-family: 'Futura-PT';
  src: url('../media/fonts/Futura PT Medium.otf');
}
.nav-menu {
  list-style: none;
  position: absolute;
  top: 50px;
  right: 50px;
  &__item {
    float: left;
    margin-left: 1.5rem;
  }
  &__link {
    font-size: 0.75em;
    font-family: 'Futura-PT', sans-serif;
    text-decoration: none;
    color: #fff;
    &:hover &__js-atimated-text {
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg);
    }
    &__js-atimated-text {
      font-size: 0.75em;
      text-transform: uppercase;
      display: inline-block;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.4s;
      &:first-child {
        transition-delay: 0s;
      }
      .generate-child();
    }
  }
}

.vertical-menu {
  list-style: none;
  &_big {
    font-size: 2rem;
  }
  &__item {
    margin: 1.5rem 0;
  }
  &__link {
    font-family: 'Futura-PT', sans-serif;
    font-weight: 300;
    color: #000;
    text-decoration: none;
  }
}

