.video-div {
  background: url('../media/images/pic_fv_video1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10 !important;
  &__centered-block {
    background-color: #000;
    color: #fff;
    max-width: 100%;
    width: 28rem;
    height: 28rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 20 !important;
    &_rounded {
      border-radius: 100%;
    }
    &_hidden {
      display: none;
    }
    &__inner {
      text-align: center;
      width: 50%;
      height: 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 30 !important;
    }
  }
}
