body {

    background: linear-gradient(75deg, transparent 50%, rgba(122,186,0,0.2) 50%, rgba(255,186,0,0.2)), 
                linear-gradient(-75deg, rgba(0,186,0,0.2) 50%, transparent 50%, transparent),
                linear-gradient(-30deg, rgba(0,186,0,0.2) 50%, transparent 50%, transparent);
}
.round-div {

	position: relative;
	border-radius: 50%;
	-moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
	background-color: #053e23;
	width: 300px;
	height: 300px;
	margin: 30px auto;
	border: 2px solid #000;
	box-shadow: 0 0 5px #000;
}

.round-div div{
	position: absolute;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	display: block;
	width: 70%;
	height: 70%;
	background-color: #053e23;
	color: #fff;
	margin: auto;
}

.round-div div form{
	margin:  10px;
	text-align: center;
}

.round-div div form input {
	margin-bottom: 15px;
}

.round-div div form .btn-block {
	display: block;
	padding: 5px;
	margin: 15px auto;
	width: 90%;
	background: #062 url() 0 0 no-repeat;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
}

.round-div div form .btn-block:hover,
.round-div div form .btn-block:active {
	background: #052 url() 0 0 no-repeat;
	border: 2px solid #000;
	color: #000;
}