@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18pt;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
body:before {
  display: block;
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(25, 30, 35, 0.7), rgba(25, 30, 35, 0.7)), url('../images/bg.jpg');
  background-position: 0 0, center;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  z-index: 0;
}
body .wrapper {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
}
body .wrapper .container {
  z-index: 2;
  max-width: 100%;
}
body .wrapper .container .inner {
  z-index: 3;
  padding: 3.75rem;
  width: 55rem;
  max-width: 100%;
}
body .wrapper .container .inner .row {
  max-width: 100%;
  display: flex;
  z-index: 4;
}
body .wrapper .container .inner .row .cols {
  padding: 0 0 0 3rem;
}
body .wrapper .container .inner .row .col-1 {
  width: calc(55% + 1.5rem);
  max-width: 100%;
  margin-left: -3rem;
}
body .wrapper .container .inner .row .col-1 h1 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.625rem;
}
body .wrapper .container .inner .row .col-1 p {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 1rem;
  font-size: 1em;
  line-height: 1.625;
  font-weight: 300;
}
body .wrapper .container .inner .row .col-2 {
  max-width: 100%;
  width: calc(45% + 1.5rem);
}
body .wrapper .container .inner .row .col-2 form {
  width: 20rem;
  max-width: 100%;
}
body .wrapper .container .inner .row .col-2 input,
body .wrapper .container .inner .row .col-2 select {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1em;
  height: 3.125rem;
  padding: 0 1rem;
  margin-bottom: 1.45rem;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  outline: none;
}
body .wrapper .container .inner .row .col-2 input:focus,
body .wrapper .container .inner .row .col-2 select:focus {
  box-shadow: 0 0 0 1px #00C2C2, inset 0 0 0 1px #00C2C2;
}
body .wrapper .container .inner .row .col-2 input[type="submit"],
body .wrapper .container .inner .row .col-2 select[type="submit"] {
  background: #009E9E;
  color: #fff;
  margin-bottom: 0;
  font-family: 'Raleway';
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 0.6em;
  font-weight: 600;
  height: 3.5rem;
}
body .wrapper .container .inner .row .col-2 .select-wr {
  margin-bottom: 1.45rem;
  height: 3.125rem;
  background: #fff;
  width: 100%;
  border-radius: 0.3rem;
}
body .wrapper .container .inner .row .col-2 .select-wr:active {
  box-shadow: 0 0 0 1px #00C2C2, inset 0 0 0 1px #00C2C2;
}
body .wrapper .container .inner .row .col-2 .select-wr select {
  font-size: 1em;
  width: 100%;
  background: transparent;
  margin-bottom: 0;
  margin-right: -3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23000000' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: calc(100% - 1.09375rem) center;
  padding-right: 3rem;
}
body .wrapper .container .inner .row .col-2 .select-wr option {
  font-weight: 300;
}
body .wrapper .container .row2 {
  justify-content: center;
}
body .wrapper .container .row2 p {
  margin-top: 2.5rem;
  font-size: 0.875em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1680px) {
  html {
    font-size: 13pt;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 13pt;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 11pt;
  }
}
@media (max-width: 736px) {
  html {
    font-size: 11pt;
  }
  body .wrapper .container .inner {
    padding: 3.5rem 1.5rem;
  }
  body .wrapper .container .inner .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  body .wrapper .container .inner .row .cols {
    padding: 0;
    margin: 0;
  }
  body .wrapper .container .inner .row .col-1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  body .wrapper .container .inner .row .col-2 {
    width: 100%;
  }
  body .wrapper .container .inner .row .col-2 form {
    margin: auto;
  }
}
@media (max-width: 680px) {
  html {
    font-size: 11pt;
  }
}
@media (max-width: 360px) {
  body .wrapper .container .inner {
    padding: 2.5rem 1.125rem;
  }
  body .wrapper .container .inner h1 {
    font-size: 1.5em;
  }
}
