.icons-list {
  padding: 0;
  letter-spacing: 0;
  font-size: 2em;
  list-style: none;
  margin-left: -0.875rem;
  width: calc(100% + 1.75rem);
}
.icons-list > *:first-child {
  margin-left: 0 !important;
}
.icons-list__item {
  vertical-align: middle;
  margin: 0.875rem;
  display: inline-block;
}
.icons-list__link {
  align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  width: 1em;
  height: 1em;
}
.icons-list__svg {
  width: 100%;
  height: 100%;
  fill: rgba(102, 102, 102, 0.278);
}
