@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 18pt;
  font-family: 'Roboto', sans-serif;
}
.body-flex {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
.body-flex:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff url('../images/bgHTML5.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.wrapper {
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  z-index: 5;
  padding: 3.5rem;
}
.wrapper__container {
  max-width: 100%;
  z-index: 10;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.75);
  color: #000000;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.header {
  max-width: 100%;
  padding: 1rem;
  background-color: #ff4433;
  color: #ffffff;
  text-align: center;
}
.inner {
  /* width: 55rem; */
  min-height: 65vh;
  padding: 1rem 1.5rem;
  text-align: center;
}
.inner > * {
  margin: 1rem 0;
}
.inner > *:first-child {
  margin-top: 0;
}
.inner > *:last-child {
  margin-bottom: 0;
}
.canvas-wrap {
  max-width: 100%;
  display: inline-block;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  margin: 0 0.5rem 0.5rem;
  overflow-x: hidden;
}
.canvas {
  max-width: 100%;
  background: #eeeeee;
  width: 26rem;
  height: 12.5rem;
  margin: 0.5rem;
}
#myimage {
  max-width: 100%;
  background: #eeeeee;
  width: 26rem;
  height: 12.5rem;
  margin: 0.5rem;
}
@media (max-width: 1680px) {
  html {
    font-size: 13pt;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 13pt;
  }
  .wrapper {
    padding: 2.5rem;
    min-width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 5;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 11pt;
  }
}
@media (max-width: 736px) {
  html {
    font-size: 11pt;
  }
  .wrapper {
    padding: 1.5rem;
  }
  .canvas-wrap {
    padding: 0;
  }
  .canvas {
    margin: 0;
    width: 20rem;
    height: 10rem;
  }
  #myimage {
    margin: 0;
    width: 20rem;
    height: 10rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 11pt;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 11pt;
  }
}
