.video-div {
  border: 2px solid rgba(0, 0, 0, 0.225);
  -webkit-box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
  background-color: rgba(35, 24, 20, 0.825);
  width: 35rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 0.32rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.video-div > *:first-child {
  margin-right: 1rem;
}
.video-div__screen {
  width: 75%;
}
.video-div__panel {
  width: 25%;
  border: 1px solid rgba(0, 0, 0, 0.225);
  border-radius: 0.25rem;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.125) inset;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.125) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.video-div__btn-round {
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  display: block;
  text-decoration: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3rem;
  background-color: #ff4433;
  color: #eeeeee;
  margin: 1rem 0;
  border: 1px solid transparent;
}
.video-div__btn-round:hover {
  background-color: #ff2d19;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}
